<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <!-- デプロイするときは場所とパス書き換えないとダメ、ゆくゆくはバンドルする -->
  <link rel="stylesheet" href="./views/css/stylesheet.css">
</head>
<body>
  <div id="weatherReportApp">
    <div>
      <label for="">入力式</label>
      <input type="radio" name="input" v-model="userInput" value="text">
      <label for="">選択式</label>
      <input type="radio" name="input" v-model="userInput" value="select">
    </div>
    <div v-if="userInput==='text'">
      <input type="text" v-model="prefecture" v-on:keyup.esc="clear" v-on:keyup.enter="getReq" placeholder="都道府県、地域を入力してください">
    </div>
    <div v-else-if="userInput==='select'">
      <!-- todo 配列で自動生成する -->
      <select name="prefecture" id="">
        <option value="">未実装です</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
    <button v-on:click="getReq">GET</button>

    <table class="table">
      <h1>{{regionName}}</h1>
      <tr>
        <th>日付</th><th>天気</th><th>メモ</th>
      </tr>
      <tr v-for="b in weatherReports">
        <td>{{b.date}}</td>
        <td>{{b.weather}}</td>
        <!--todo 編集ボタンつける -->
        <td>{{b.memo}}</td>
        <td>
          <!-- 見てくれのバランスが悪い -->
          <input v-show="toggle" type="text" v-model="memo">
          <input v-show="toggle" type="button" v-on:click="postReq" value="保存">
          <input v-show="toggle" type="button"  v-on:click="showMemo" value="閉じる">
          <input v-show="!toggle" type="button"  v-on:click="showMemo" value="編集">
        </td>
      </tr>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./views/js/main.js"></script>
</body>
</html>